<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app</directory>
            <file>app/Models/Project.php</file>
            <file>app/Models/PhotoJob.php</file>
            <file>app/Models/WorkflowLog.php</file>
            <file>app/Http/Controllers/ProjectBoardController.php</file>
            <file>app/Http/Controllers/PhotoJobBoardController.php</file>
            <file>app/Enums/ProjectStatus.php</file>
            <file>app/Enums/PhotoJobStatus.php</file>
            <file>app/Enums/PaymentStatus.php</file>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="256M"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:dGVzdC1vbmx5LXBocHVuaXQta2V5LTMyLWJ5dGUhISE=" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="JWT_SECRET" value="test-only-jwt-secret-with-sufficient-entropy-for-phpunit"/>
        <env name="STRIPE_SECRET" value="test-server-side-placeholder"/>
        <env name="STRIPE_CUSTOMERS_ENABLED" value="false"/>
        
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>

        <env name="SCOUT_DRIVER" value="meilisearch"/>
        <env name="MEILISEARCH_HOST" value="http://127.0.0.1:7701"/>
        <env name="MEILISEARCH_KEY" value="test_meili_secret"/>
        
        <env name="MAIL_MAILER" value="smtp"/>
        <env name="MAIL_HOST" value="127.0.0.1"/>
        <env name="MAIL_PORT" value="1025"/>
        <env name="MAIL_ENCRYPTION" value="null"/>
        <env name="MAIL_FROM_ADDRESS" value="test@reisinger.pictures"/>
        
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="FILE_ENCRYPTION_KEY" value="base64:VFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFQ="/>
        <env name="FILE_ENCRYPTION_PREVIOUS_KEYS" value=""/>
    </php>
</phpunit>
